<% provide(:title, 'New') %>
<h1>New province</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  	<%= form_for(@province) do |f| %>
  	<%= render 'shared/error_messages', object: f.object %>
  	<%= f.label :name %>
  	<%= f.text_field :name %>

  	 <%= f.label :country_id %> 
      <div class="input-group">
        <%= f.hidden_field :country_id %>
        <% if @province.country!=nil %>
          <input type='text' id='province_country_name' value='<%= @province.country.name %>' class='form-control' disabled></input>
          
        <%else%>
           <input type='text' id='province_country_name' class='form-control' disabled></input>
        <%end%>
        <span class="input-group-btn">
           <button type="button" class="btn btn-info" data-toggle="modal" data-target="#popup-country">
            <span class="glyphicon glyphicon-search"></span> Search
           </button>
        </span>
      </div>

  	<%= f.submit "Create province", class: "btn btn-primary" %>
  	<% end %>
  </div>
</div>

<div id='country_popup'>
  <%= render :partial => 'shared/popup', :locals => {:id =>'country', :popup_title => 'Select a country',:popup_form =>'countries/select', :return_place =>'province_country'} %>
</div>